/*
* Style Works for both Editor and Frontend
*/

.bdt-container {
	.bdt-item {
		position: relative;
		.bdt-head-content {
			.bdt-package-title {
				margin: 0 0 20px;
				font-size: 23px;
				font-weight: 700;
				color: #292734;
				text-transform: capitalize;
			}
			.bdt-popular-btn {
				position: absolute;
				top: 0;
				right: 0;
				margin: 30px;
				color: #000;
				font-size: 11px;
				text-transform: capitalize;
				background-color: #72fd3f;
				padding: 4px 10px;
				border-radius: 30px;
			}
			.bdt-price-info {
				.bdt-price {
					font-weight: 700;
					color: #17171a;
				}
				.bdt-user-month {
					display: flex;
					font-size: 14px;
					color: #34353c;
				}
			}
			.bdt-link-btn a {
				background: #000;
				color: #fff;
				padding: 15px;
				font-size: 14px;
				line-height: 1;
				display: block;
				text-align: center;
				border-radius: 5px;
				border: 1px solid #ddd;
				text-transform: capitalize;
				text-decoration: none;
				transition: all 0.3s ease;
				&:hover {
					background-color: #0000;
					color: #000;
				}
			}
		}
		.bdt-features-info {
			.bdt-features-title {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
			}
			.bdt-package-desc,
			.bdt-features-desc {
				font-size: 14px;
				font-weight: 300;
				color: #494754;
				margin-bottom: 25px;
			}
			.features {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				flex-direction: column;
				gap: 15px;
				li {
					display: flex;
					align-items: center;
					color: #524f58;
					.bdt-check-icon {
						border-radius: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						font-weight: 700;
					}
				}
			}
		}
	}
}
.style-1 .bdt-item {
	border-radius: 10px;
	border: 1px solid #ddd;
	.bdt-head-content {
		padding: 30px;
		.bdt-price-info {
			display: flex;
			align-items: center;
			gap: 6px;
			margin-bottom: 10px;
			.bdt-price {
				font-size: 40px;
			}
			.bdt-user-month {
				flex-direction: column;
				font-weight: 300;
			}
		}
	}
	.bdt-features-info {
		border-top: 1px solid #ddd;
		padding: 30px;
		.features {
			gap: 15px;
			li {
				font-size: 14px;
				gap: 10px;
				.bdt-check-icon {
					background-color: #7aff00;
					padding: 4px;
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}
.style-2 .bdt-item {
	display: flex;
	align-items: flex-start;
	background-color: #d5f2fe;
	padding: 30px;
	height: 250px;
	.bdt-head-content {
		width: 100%;
		padding-right: 30px;
		.bdt-package-title {
			border: 1px solid #5c5858;
			display: inline-block;
			padding: 8px 12px;
			border-radius: 5px;
		}
	}
	.bdt-price {
		font-size: 50px;
	}
	.bdt-user-month {
		flex-direction: row;
		gap: 10px;
		font-weight: 700;
	}
	.bdt-link-btn {
		display: flex;
		flex-direction: column;
		gap: 10px;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 30px;
	}
	.bdt-features-info {
		width: 100%;
		border-left: 1px solid rgba(181, 181, 181, 0.349);
		padding-left: 30px;
		.bdt-features-title {
			display: none;
		}
		.features {
			gap: 20px;
			li {
				font-size: 13px;
				gap: 7px;
				.bdt-check-icon {
					background-color: #070808;
					padding: 2px;
					color: #fff;
				}
			}
		}
	}
}
